
<div class="d-flex flex-column align-items-center">
<header class="page-header text-center">
    <h1>Inventory Details</h1>
</header>

<table class="table table-success text-center">

  <thead>
    <tr>
      <th scope="col">Total Available Products</th>
      <th scope="col">Total Available Categories</th>
    </tr>
  </thead>
  <tbody>
   <tr>
   <td><%= @total_products%></td>
   <td><%=  @total_categories %></td>
   </tr>
  </tbody>

</table>

<%= link_to "Details", admin_products_path, class: 'btn btn-lg btn-primary' %>
</div>